<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>员工的编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/backend/css/font.css">
    <link rel="stylesheet" href="/backend/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/backend/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/backend/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <form class="layui-form">
        <input type="hidden" name="roleId" th:value="${param.id}">
<!--        <div class="layui-form-item">-->
<!--            <label for="emplAccount" class="layui-form-label">-->
<!--                <span class="x-red">*</span>登录名-->
<!--            </label>-->
<!--            <div class="layui-input-inline">-->
<!--                <input type="text" id="emplAccount" name="emplAccount" readonly required="" lay-verify="required"-->
<!--                       autocomplete="off" class="layui-input">-->
<!--            </div>-->
<!--            <div class="layui-form-mid layui-word-aux">-->
<!--                <span class="x-red">*</span>将会成为您唯一的登入名-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item">-->
<!--            <label for="emplName" class="layui-form-label">-->
<!--                <span class="x-red">*</span>姓名-->
<!--            </label>-->
<!--            <div class="layui-input-inline">-->
<!--                <input type="text" id="emplName" name="emplName" required="" lay-verify="required"-->
<!--                       autocomplete="off" class="layui-input">-->
<!--            </div>-->
<!--            <div class="layui-form-mid layui-word-aux">-->
<!--                <span class="x-red">*</span>用户的真实姓名-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item">-->
<!--            <label for="emplPhone" class="layui-form-label">-->
<!--                <span class="x-red">*</span>手机号-->
<!--            </label>-->
<!--            <div class="layui-input-inline">-->
<!--                <input type="text" id="emplPhone" name="emplPhone" required="" lay-verify="phone"-->
<!--                       autocomplete="off" class="layui-input">-->
<!--            </div>-->
<!--            <div class="layui-form-mid layui-word-aux">-->
<!--                <span class="x-red">*</span>用于找回密码-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">-->
<!--                <span class="x-red">*</span>性别-->
<!--            </label>-->
<!--            <div class="layui-input-inline">-->
<!--                <input type="radio" name="emplGender" value="1" title="男" checked>-->
<!--                <input type="radio" name="emplGender" value="2" title="女" >-->
<!--            </div>-->
<!--            <div class="layui-form-mid layui-word-aux">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">-->
<!--                <span class="x-red">*</span>状态-->
<!--            </label>-->
<!--            <div class="layui-input-inline">-->
<!--                <input type="radio" name="emplStatus" value="1" title="正常" checked>-->
<!--                <input type="radio" name="emplStatus" value="0" title="禁用" >-->
<!--            </div>-->
<!--            <div class="layui-form-mid layui-word-aux">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item">-->
<!--            <label  class="layui-form-label">-->
<!--                <span class="x-red">*</span>部门-->
<!--            </label>-->
<!--            <div class="layui-input-inline">-->
<!--                <select name="deptId" lay-verify="required">-->
<!--                    <option value="0">北京</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="layui-form-mid layui-word-aux">-->

<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>角色</label>
            <div class="layui-input-block" id="rolesContainer">
                <input type="checkbox" name="permissionId" lay-skin="primary" title="超级管理员" checked="">
            </div>
        </div>
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">-->
<!--                <span class="x-red">*</span>备注信息-->
<!--            </label>-->
<!--            <div class="layui-input-inline">-->
<!--                <textarea name="emplRemark" placeholder="请输入备注信息" class="layui-textarea"></textarea>-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                授权
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;
        // //自定义验证规则
        // form.verify({
        //     nikename: function(value){
        //         if(value.length < 5){
        //             return '昵称至少得5个字符啊';
        //         }
        //     }
        //     ,pass: [/(.+){6,12}$/, '密码必须6到12位']
        //     ,repass: function(value){
        //         if($('#L_pass').val()!=$('#L_repass').val()){
        //             return '两次密码不一致';
        //         }
        //     }
        // });
        //监听提交
        // form.on('submit(add)', function(data){
        //     // 获取角色的数据
        //     var roleIds = [];
        //     $("div[class='layui-unselect layui-form-checkbox layui-form-checked']").each(function () {
        //         // 去找input组件
        //         var input = $(this).prev();
        //         // 放在角色id数组中
        //         roleIds.push(input.val());
        //     })
        //     // 准备提交到后台的数据
        //     var param = data.field;
        //     param.roleIds = roleIds;
        //     //发异步，把数据提交给java
        //     $.ajax({
        //         type: "post", // 提交到后台的http方法
        //         url: "/empl/edit/do", // 后台接口地址
        //         data: param,
        //         dataType: "json", // 后端响应的数据类型
        //         success: function (res) {// 请求后端成功之后的回调函数
        //             console.log(res);
        //             if (res.code === 200){
        //                 layer.alert(res.msg, {icon: 6},function () {
        //                     // 获得frame索引
        //                     var index = parent.layer.getFrameIndex(window.name);
        //                     //关闭当前frame
        //                     parent.layer.close(index);
        //                 });
        //             }
        //         }
        //     });
        //
        //     return false;
        // });


        // // 获取部门数据
        // $.ajax({
        //     type: "post", // 提交到后台的http方法
        //     url: "/dept/all/data", // 后台接口地址
        //     dataType: "json", // 后端响应的数据类型
        //     async:false,//同步请求
        //     success: function (res) {// 请求后端成功之后的回调函数
        //         console.log(res);
        //         if (res.code === 200){
        //             // 清空容器
        //             $("select[name=deptId]").empty();
        //             $(res.data).each(function () {
        //                 // 每次遍历产生一个下拉选项
        //                 var option = $('<option value="'+this.deptId+'">'+this.deptSimpleName+'</option>');
        //                 // 追加到容器中
        //                 $("select[name=deptId]").append(option);
        //             });
        //             // 重新渲染一下表单
        //             form.render()
        //         }
        //     }
        // });

        //获取权限数据
        $.ajax({
            type: "post", // 提交到后台的http方法
            url: "/permission/all/datas", // 后台接口地址
            dataType: "json", // 后端响应的数据类型
            async:false,//同步请求
            success: function (res) {// 请求后端成功之后的回调函数
                console.log(res);
                if (res.code === 200){
                    // 清空容器
                    $("#rolesContainer").empty();
                    $(res.data).each(function () {
                        // 每次遍历产生一个复选框
                        var input = $('<input type="checkbox" name="permissionId" lay-skin="primary" value="'+this.permissionId+'" title="'+this.permissionName+'">');
                        // 追加到容器
                        $("#rolesContainer").append(input);
                    })
                    // 重新渲染一下表单
                    form.render()
                }
            }
        });

        // 获取员工的详情
        $.ajax({
            type: "post", // 提交到后台的http方法
            url: "/role-permission/detail", // 后台接口地址
            dataType: "json", // 后端响应的数据类型
            data:{roleId:$('input[name=roleId]').val()},
            async:false,//同步请求
            success: function (res) {// 请求后端成功之后的回调函数
                console.log(res);
                if (res.code===200){
                    //获取值
                    var data=res.data;
                    // 回显角色
                    $("input[name=permissionId]").each(function (index, input) {
                        // 遍历回显的角色
                        $(data.permissionId).each(function () {
                            if( $(input).val() == this.permissionId ){
                                $(input).prop("checked", true);
                            }
                        });
                    })

                    //重新渲染一下
                    form.render();
                }
            }
        });
    });

</script>

</body>

</html>